{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!--배너-->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'assets/laptop-icon1.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h2">노트북 선택 가이드</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'assets/laptop-icon1.jpg' %}" alt="">
                        </div>

                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h2">노트북 선택 가이드</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'assets/laptop-icon1.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h2">노트북 선택 가이드</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--오른쪽으로 이동-->
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>

        <!--왼쪽으로 이동-->
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

<!--카테고리 고르기-->
<section class="container-fluid py-0">
    <div class="row">
        <div class="col-12 col-lg-1 d-lg-block" ></div>
        <div class="col-12 col-lg-2 mt-3 nav-item col-md-2">
            <a href="#"></a>
            <p class="text-center"><a class="nav-link text-muted h3" href="#best" id="best" onclick="productListChange('best')">인기</a></p>
        </div>
        <div class="col-12 col-lg-2 mt-3 nav-item col-md-2">
            <a href="#"></a>
            <p class="text-center"><a class="nav-link text-muted h3" href="#gaming" id="gaming" onclick="productListChange('gaming')">게임용</a></p>
        </div>
        <div class="col-12 col-lg-2 mt-3 nav-item col-md-3">
            <a href="#"></a>
            <p class="text-center"><a class="nav-link text-muted h3" href="#videoEdit" id="videoEdit" onclick="productListChange('videoEdit')">영상편집</a></p>
        </div>
        <div class="col-12 col-lg-2 mt-3 nav-item col-md-2">
            <a href="#"></a>
            <p class="text-center"><a class="nav-link text-muted h3" href="#coding" id="coding" onclick="productListChange('coding')">코딩용</a></p>
        </div>
        <div class="col-12 col-lg-2 mt-3 nav-item col-md-2">
            <a href="#"></a>
            <p class="text-center"><a class="nav-link text-muted h3" href="#deskJob" id="deskJob" onclick="productListChange('deskJob')">학습/사무용</a></p>
        </div>

        <div class="col-12 col-lg-1 d-lg-block"></div>
    </div>
</section>
<div class="border-top my-3"></div>

<!--    상품 품목 출력-->
<section >
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">TOP5</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs">
                <div class="card mb-3">
                    <div class="row g-1">
                        {% if best_Prod_list %}
                            {% for best_Prod in best_Prod_list %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="">
                                            <img src="{% get_static_prefix %}assets/img/{{ best_Prod.prod_id }}.jpg" alt={{ best_Prod.prod_id }}, class="card-img-top">
                                        </a>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <a href="" class="h2 text-decoration-none text-dark">
                                                {{ best_Prod.prod_name }} </a>
                                            <p class="card-text">
                                                <br>
                                                {% for spec in best_Prod_list_spec %}
                                                    {% if spec.prod_id_id == best_Prod.prod_id %}
                                                        {{ spec.prod_property }} |
                                                    {% endif %}

                                                {% endfor %}
                                                {% if best_Prod.prod_review_count >= 1 %}
                                                    <br><br>
                                                    평점 : {{ best_Prod.prod_review_grade }}
                                                    &nbsp&nbsp&nbsp
                                                    리뷰 수 : {{ best_Prod.prod_review_count }}
                                                {% endif %}
                                                <br><br>
                                                {{ best_Prod.prod_reg_date }}
                                            </p>
                                            <br><br><br>
                                            <p class="text-muted"> {{ best_Prod.prod_price }}</p>
                                        </div>
                                    </div>
                                    <div></div>
                                </div>
                                <div class="border-top my-3"></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End 가장 많이 본 상품 -->
{% endblock %}