{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'assets/laptop-icon1.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h2">노트북 선택 가이드</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'assets/laptop-icon1.jpg' %}" alt="">
                        </div>

                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h2">노트북 선택 가이드</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'assets/laptop-icon1.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h2">노트북 선택 가이드</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->

    <section class="container py-5">
        <div class="row text-center pt-3">
        </div>
        <div class="row">
            <div class="col-12 col-md-3 p-5 mt-3">
                <a href="#"><img src="{% static 'assets/img/legion 5 pro r7.jpg' %}" class="rounded-circle img-fluid border"></a>
                <p class="text-center"><a class="btn btn-success">게임용</a></p>
            </div>
            <div class="col-12 col-md-3 p-5 mt-3">
                <a href="#"><img src="{% static 'assets/img/gram16 76k.jpg' %}" class="rounded-circle img-fluid border"></a>
                <p class="text-center"><a class="btn btn-success">개발용</a></p>
            </div>
            <div class="col-12 col-md-3 p-5 mt-3">
                <a href="#"><img src="{% static 'assets/img/gp66.jpg' %}" class="rounded-circle img-fluid border"></a>
                <p class="text-center"><a class="btn btn-success">전문작업용</a></p>
            </div>
            <div class="col-12 col-md-3 p-5 mt-3">
                <a href="#"><img src="{% static 'assets/img/gram16 56k.jpg' %}" class="rounded-circle img-fluid border"></a>
                <p class="text-center"><a class="btn btn-success">사무용</a></p>
            </div>
        </div>
    </section>

    <!-- start 가장 많이 본 상품 -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">가장 많이 본 상품 TOP5</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <div class="card mb-3">
                        <div class="row g-0">
                            {% if best_Prod_list %}
                                {% for best_Prod in best_Prod_list %}
                                    <div class="col-md-4">
                                        <a href="shop-single.html">
                                            <img src="{% get_static_prefix %}assets/img/{{ best_Prod.prod_id }}.jpg" alt={{ best_Prod.prod_id }}, class="card-img-top">
                                        </a>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">
                                                {{ best_Prod.prod_name }} </a>
                                            <p class="card-text">
                                                <br>
                                                {% for spec in best_Prod_list_spec %}
                                                    {% if spec.prod_id_id == best_Prod.prod_id %}
                                                        {{ spec.prod_property }} |
                                                    {% endif %}
                                                {% endfor %}
                                                {% if best_Prod.prod_reg_date == True %}
                                                    <br>
                                                    {{ best_Prod.prod_reg_date }}
                                                    <br><br>
                                                    {{ best_Prod.prod_review_count }}
                                                {% endif %}
                                            </p>
                                            <br><br><br>
                                            <p class="text-muted"> {{ best_Prod.prod_price }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End 가장 많이 본 상품 -->
{% endblock %}