{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'js/index-navbar.js' %}"></script>
    <!--배너-->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'test img/gp66.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h2">노트북 선택 가이드</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'test img/legion 5i pro.jpg' %}" alt="">
                        </div>

                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h2">노트북 선택 가이드</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'test img/legion 5 pro r7.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h2">노트북 선택 가이드</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--오른쪽으로 이동-->
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>

        <!--왼쪽으로 이동-->
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
<section class="container mt-3 d-none d-lg-block">
    <div class="align-self-center flex-fill d-flex justify-content-around">
                    <ul class="nav navbar-nav d-flex justify-content-around p-0 container-fluid list-group-horizontal" id="index-nav-pc">
                        <li class="nav-item mx-1">
                            <p class="text-center"><a class="nav-link text-muted h4" href="#ranking" id="new">최신</a></p>
                        </li>
                        <li class="nav-item mx-1">
                            <p class="text-center"><a class="nav-link text-muted h4" href="#ranking" id="gaming">게이밍</a></p>
                        </li>
                        <li class="nav-item mx-1">
                            <p class="text-center"><a class="nav-link text-muted h4" href="#ranking" id="coding">코딩용</a></p>
                        </li>
                        <li class="nav-item mx-1">
                            <p class="text-center"><a class="nav-link text-muted h4" href="#ranking" id="deskJob">사무용</a></p>
                        </li>
                        <li class="nav-item mx-1">
                            <p class="text-center"><a class="nav-link text-muted h4" href="#ranking" id="videoEdit">영상편집</a></p>
                        </li>
                        <li class="nav-item mx-1">
                            <p class="text-center"><a class="nav-link text-muted h4" href="#ranking" id="videoWatch">영상시청</a></p>
                        </li>
                    </ul>
                </div>
</section>
<!--    상품 품목 출력-->
<section>
    <div class="container py-5" id="ranking">
        <div class="row">
                <div class="card mb-3">
                    <div class="row g-1 infinite-container">
                        <!-- 상품 목록 불러오기 -->
                        {% for Prod in Prod_list %}
                            <div class="row infinite-item">
                                <div class="col-md-4">
                                    <a href="">
                                        <img src="{% get_static_prefix %}assets/img/{{ Prod.prod_id }}.jpg" alt={{ Prod.prod_id }}, class="card-img-top">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <!-- 노트북 이름 출력 -->
                                        <a href="product/{{ Prod.prod_id }}" class="h2 text-decoration-none text-dark">
                                            {{ Prod.prod_name }}
                                        </a>
                                        <!-- 노트북 태그 출력 -->
                                        <p class="card-text">
                                            <br>
                                            {% for spec in spec_tags_1 %}
                                                {% if spec.prod == Prod.prod_id %}
                                                    {{ spec.name }}
                                                {% endif %}
                                            {% endfor %}

                                            {% for spec in spec_tags_2 %}
                                                {% if spec.prod == Prod.prod_id %}
                                                    {{ spec.name }}
                                                {% endif %}
                                            {% endfor %}

                                            {% for spec in spec_tags_3 %}
                                                {% if spec.prod == Prod.prod_id %}
                                                    {{ spec.name }}
                                                {% endif %}
                                            {% endfor %}

                                            {% for spec in spec_tags_4 %}
                                                {% if spec.prod == Prod.prod_id %}
                                                    {{ spec.name }}
                                                {% endif %}
                                            {% endfor %}

                                            {% for spec in spec_tags_5 %}
                                                {% if spec.prod == Prod.prod_id %}
                                                    {{ spec.name }}
                                                {% endif %}
                                            {% endfor %}
                                            <br><br>
                                            {{ Prod.prod_reg_date }}
                                        </p>
                                        <br><br><br>
                                        <p class="text-muted"> {{ Prod.prod_price }}원</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-top my-3"></div>
                        {% endfor %}

                        <div class="d-flex justify-content-center" style="display:none;">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                    </div>

                    {% if Prod_list.has_next %}
                        <a class="infinite-more-link" href="?page={{ Prod_list.next_page_number }}"></a>
                    {% endif %}

                </div>
        </div>
    </div>
</section>

<!-- End 가장 많이 본 상품 -->
{% endblock %}