{% load static %}
<!-- 커뮤니티 UI2 -->
    <!--배너-->
            <!-- 커뮤니티 메뉴2 : 화면 크기가 커지면 활성화-->
            <div class="col-md-3">
                <div class="list-group text-center d-none d-md-block">
                    <a href="#" class="list-group-item list-group-item-action">리뷰 게시판</a>
                    <a href="#" class="list-group-item list-group-item-action">질문 게시판</a>
                    <a href="#" class="list-group-item list-group-item-action">자주 묻는 질문</a>
                    <a href="#" class="list-group-item list-group-item-action">자유 게시판</a>
                </div>
            </div>
            <!-- End 메뉴2-->