{% load static %}
<div class="justify-content-center gap-3 mb-5 col-12 col-lg-6" id="g_1" style="display: none;">
    <div class="text-center text-success h3 mb-3"> 원하는 사양은? </div>
    <input type="radio" class="btn-check rec_q" name="게이밍_사양" value="저사양" id="g_1-1" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="g_1-1">
            저사양
        </label>
    <input type="radio" class="btn-check rec_q" name="게이밍_사양" value="고사양" id="g_1-2" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="g_1-2">
            고사양
        </label>
</div>
<!-- 게임 질의 -->
<div class="justify-content-center gap-3 mb-5 col-12 col-lg-6" id="g_2" style="display: none;">
    <div class="text-center text-success h3 mb-3"> 주로 하는 게임은? </div>
    <input type="radio" class="btn-check rec_q" name="게이밍_장르" value="FPS" id="g_2-1" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="g_2-1">
            FPS
        </label>
    <input type="radio" class="btn-check rec_q" name="게이밍_장르" value="RPG" id="g_2-2" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="g_2-2">
            RPG
        </label>
    <input type="radio" class="btn-check rec_q" name="게이밍_장르" value="다양하게" id="g_2-3" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="g_2-3">
            다양하게
        </label>
</div>