{% load static %}
<div class="justify-content-center gap-3 mb-5 col-12 col-lg-6" id="dsp_1" style="display: none;">
    <div class="text-center text-success h3 mb-3"> 디스플레이의 색감에 예민합니까? </div>
    <input type="radio" class="btn-check rec_q" name="디스플레이_색감" value="disp_color_true" id="dsp_1-1" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="dsp_1-1">
            네
        </label>
    <input type="radio" class="btn-check rec_q" name="디스플레이_색감" value="disp_color_false" id="dsp_1-2" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="dsp_1-2">
            아니오
        </label>
</div>
<!-- 디스플레이 질의 -->
<div class="justify-content-center gap-3 mb-5 col-12 col-lg-6 " id="dsp_2" style="display: none;">
    <div class="text-center text-success h3 mb-3"> 디스플레이의 크기는? </div>
    <input type="radio" class="btn-check rec_q" name="디스플레이_크기" value="disp_size_1" id="dsp_2-1" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="dsp_2-1">
            13인치 이하
        </label>
    <input type="radio" class="btn-check rec_q" name="디스플레이_크기" value="disp_size_2" id="dsp_2-2" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="dsp_2-2">
            14인치
        </label>
    <input type="radio" class="btn-check rec_q" name="디스플레이_크기" value="disp_size_3" id="dsp_2-3" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="dsp_2-3">
            15인치
        </label>
    <input type="radio" class="btn-check rec_q" name="디스플레이_크기" value="disp_size_4" id="dsp_2-4" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="dsp_2-4">
            16인치
        </label>
    <input type="radio" class="btn-check rec_q" name="디스플레이_크기" value="disp_size_5" id="dsp_2-5" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="dsp_2-5">
            17인치 이상
        </label>
</div>