{% load static %}
<div class="justify-content-center gap-3 mb-5 col-12 col-lg-6" id="ve_1" style="display: none;">
    <div class="text-center text-success h3 mb-3"> 주로 제작/편집하는 영상은? </div>
    <input type="radio" class="btn-check rec_q" name="영상편집_화질" value="고화질" id="ve_1-1" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="ve_1-1">
            고화질 영상
        </label>
    <input type="radio" class="btn-check rec_q" name="영상편집_화질" value="일반" id="ve_1-2" autocomplete="off">
        <label class="btn rounded-pill text-center border-success" for="ve_1-2">
            일반 영상
        </label>
</div>
<!-- 영상 편집 질의 -->
<!--<div class="justify-content-center gap-3 mb-5 col-12 col-lg-6" id="ve_2" style="display: none;">-->
<!--                <div class="text-center text-success h3 mb-3"> 사용하는 툴은? </div>-->
<!--                <input type="radio" class="btn-check rec_q" name="영상편집_툴" value="포토샵" id="ve_2-1" autocomplete="off">-->
<!--                    <label class="btn rounded-pill text-center border-success" for="ve_2-1">-->
<!--                        포토샵/일러스트레이터-->
<!--                    </label>-->
<!--                <input type="radio" class="btn-check rec_q" name="영상편집_툴" value="프리미어" id="ve_2-2" autocomplete="off">-->
<!--                    <label class="btn rounded-pill text-center border-success" for="ve_2-2">-->
<!--                        어도비 프리미어-->
<!--                    </label>-->
<!--                <input type="radio" class="btn-check rec_q" name="영상편집_툴" value="파이널" id="ve_2-3" autocomplete="off">-->
<!--                    <label class="btn rounded-pill text-center border-success" for="ve_2-3">-->
<!--                        Final Cut Pro-->
<!--                    </label>-->
<!--                <input type="radio" class="btn-check rec_q" name="영상편집_툴" value="다빈치" id="ve_2-4" autocomplete="off">-->
<!--                    <label class="btn rounded-pill text-center border-success" for="ve_2-4">-->
<!--                        다빈치 리졸브-->
<!--                    </label>-->
<!--                <input type="radio" class="btn-check rec_q" name="영상편집_툴" value="애프터" id="ve_2-5" autocomplete="off">-->
<!--                    <label class="btn rounded-pill text-center border-success" for="ve_2-5">-->
<!--                        어도비 애프터 이펙트-->
<!--                    </label>-->
<!--            </div>-->